<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col">
        <h2>Lista de Pessoas</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="hidden">Id</th>
              <th>Nome</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pessoa of pessoas">
              <td class="hidden">{{pessoa.id}}</td>
              <td>{{pessoa.nome}}</td>
              <td>
                <button class="btn btn-danger" (click)="deletePessoa(pessoa)"> Excluir</button>
                <button class="btn btn-danger" (click)="editPessoa(pessoa)" style="margin-left: 20px;"> Editar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary" (click)="addPessoa()"> Novo</button>
        </div>
      </div>
    </div>
  </div>
</div>